* {
    background-color: #FF9E8C;
    max-width: 1200px;
    margin: 12px auto;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.homepage {
    text-align: right;
    font-size: 20px;
}

.introduction {
    text-align:center;
}

.image {
    float: center; 
    text-align: center;
}

p{
    font-size: 20px;
}

li {
    padding-bottom: 10px; padding-top: 10px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

div {
    font-size: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
}

ul {
    font-size: 18px;
}

ol {
    font-size: 18px;
}

img {
    outline: 2px solid black; 
    width: 500px;
    height: auto;
}


