body {
  background-color: #ebb84c;
}

p {
    font-family:'Times New Roman', Times, serif; font-size: 20px;
}

li {
  padding-bottom: 10px; padding-top: 10px;
}

h1 {
    font-family: 'Times New Roman', Times, serif; font-size: 30px; text-align: center; float: center;
}

h2 {
    font-family: 'Times New Roman', Times, serif; font-size: 30px;
}

h3 {
    font-family: 'Times New Roman', Times, serif; font-size: 30px;
}

div {
    font-family: 'Times New Roman', Times, serif; font-size: 20px; padding-top: 10px; padding-bottom: 10px;
}

ul {
    font-family: 'Times New Roman', Times, serif; font-size: 18px;
}

ol {
    font-family: 'Times New Roman', Times, serif; font-size: 18px;
}

img {
    outline: 2px solid black; width: 500px;
}


